#container{
	width: 480px;
	height: 320px;
	background-color: #BB8D46;
}

#tudo{
	margin-left: auto;
    margin-right: auto;
    width: 415px;
}

#superior{
	width: 415px;
	position: relative;
}

#inferior{
	float: inherit;
	width: 340px;
	position: relative;
	margin-left: auto;
    margin-right: auto;
}
